/* :root {
    --headerFont: 'Abril Fatface', cursive;
    --bodyFont: 'Archivo Narrow', sans-serif;
    --primarycolor: rgb(241, 238, 202);
    --secondarycolor: rgb(228, 151, 52);
    --boldcolor: rgb(43, 72, 126);
} */

/* Universal Selectors */
* {
    background-color: #F8F7F7;
    font-family: 'Gafata', sans-serif;
}
#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h2 {
    display: flex;
    text-align: center;
    font-size: 35px;
    padding-bottom: 2rem;
    background: none;
}

h5 {
    text-align: center;
    font-size: 35px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background: none;
}

html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
}

p {
    display: flex;
    margin-top: 1rem;
    background: none;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}

/* Navigation Selectors */
nav {
    text-align: end;
    align-items: flex-end;
    width: 100%;
    background-color: #9AA4BC;
    line-height: 5rem;
    height: 5rem;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    background-color: #9AA4BC;
    color: #F8F7F7;
    margin-right: 5%;
    vertical-align: middle;
    z-index: 1;
}

nav a:hover {
    height: 100%;
    color: #B5B8D2;
}

nav a:visited {
    color: none;
}

/* Profile Image Selectors */
#profile-image {
    max-width: 100%;
    max-height: 835px;
    background:  #9AA4BC;
    overflow: hidden;
    text-align: center;
}

#background-img {
    width: 100%;
    height: 85%;
    background-color:  #B5B8D2; ;
}

#professsional-profile-image {
    display: flex;
    border-radius: 100px;
    justify-content: center;
}

.exp-icons {
    display: flex;
    text-align: center;
    justify-content: center;
}
#icons-pics {
    padding-left: 30px;
    padding-right: 30px;
}

.code {
    color: #6E869F;
    font-weight: bold;
    background: none;
}

/* About Me */
#about-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/* Contact Me Selectors */
footer {
    margin: 0 auto;
}

#contact-section {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-div {
    padding-left: 30px;
    padding-right: 30px;
}

.contact-icon,
.contact-icon:visited {
    text-decoration: none;
    color: black;
}

.contact-icon:hover {
    color: #6E869F;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Nav Bar Selectors */
    #about-section {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #content {
        display: flex;
        justify-content: center;
        text-align:center;
    }
    nav {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        
    }

    nav a {
        font-size: 1rem;
        border-top: 1px solid #F8F7F7;
        border-bottom: 1px solid #F8F7F7;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #email,
    #phone,
    #linkedin,
    #github {
        flex-basis: 100%;
    }

    /* Profile Image Selectors */
    #professsional-profile-image
    {
        display: flex;
        max-height: auto;
        max-width: 100%;
        width: 200px;
        height: auto;
    }

    .about-exp {
        font-size: 16px;
        max-height: auto;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.5rem;
    }
  /* Contact Me Selectors */
  .contact-div {
    padding-left: 20px;
    padding-right: 20px;
}
}
