:root {
    --white: #F8F7F7;
    --grey: #828894;
    --light-grey: #acaeb8;
    --lightest-grey: #4a4c4e;
    --border: #646769;
}

* {
    background-color: var(--white);
    font-family: 'Gafata', sans-serif;
}

#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    background: none;
}

h5 {
    font-size: 35px;
    text-align: center;
    background: none;
}

html,
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
}

p {
    display: flex;
    margin-top: 1rem;
    background: none;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}

nav {
    text-align: end;
    align-items: flex-end;
    width: 100%;
    background-color: var(--grey);
    line-height: 5rem;
    height: 5rem;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    background-color: var(--grey);
    color: var(--white);
    margin-right: 5%;
    vertical-align: middle;
    z-index: 1;
}

nav a:hover {
    height: 100%;
    color: var(--light-grey);
}

nav a:visited {
    color: none;
}

#profile-image {
    max-width: 100%;
    max-height: 835px;
    background: var(--grey);
    overflow: hidden;
    text-align: center;
}

#background-img {
    width: 100%;
    height: 85%;
}

#professsional-profile-image {
    display: flex;
    border-radius: 100px;
    justify-content: center;
}

.exp-icons {
    display: flex;
    text-align: center;
    justify-content: center;
}

#icons-pics {
    padding-left: 30px;
    padding-right: 30px;
}

#about-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#work {
    color: var(--white);
}

#work-section {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--grey);
    padding-bottom: 2rem;
}

#work-samples {
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
}

.work-image {
    background: none;
    border: var(--border) 3px solid;
}

.work-image:hover {
    background-color: var(--light-grey);
    opacity: 0.4;
}

.large-image {
    width: 1000px;
    height: auto;
}

.small-image {
    width: 480px;
    height: auto;
    margin: 1rem;
}

.work-flexbox,
.work-text,
.work-title,
.repo-link,
.all-tag {
    background: none;
    font-size: 24px;
}

.work-text a,
.work-text a:visited {
    background: none;
    text-decoration: none;
    color: var(--white);
}

.work-text a:hover,
.deploy-anchor:hover {
    text-decoration: underline;
    color: var(--lightest-grey);
}

.btn {
    background-color: rgb(243, 194, 120);
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid grey;
    margin-bottom: 5px;
    padding: 12px;
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
    background-color: var(--light-grey);
    opacity: 0.4;
}

#flex-one {
    order: 1;
    flex-basis: 100%;
}

#dinner-text,
#weather-text,
#note-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    background-color: var(--light-grey);
}

#dinner-text {
    width: 1000px;
    order: 2;
    flex-basis: 100%;
}

#weather-text,
#note-text {
    width: 480px;
}


#flex-two {
    order: 3;
}

#flex-three {
    order: 4;
}

#weather-text {
    order: 5;
}

#note-text {
    order: 6;
}


.small-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.large-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

footer {
    margin: 0 auto;
}

#contact-section {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-div {
    padding-left: 30px;
    padding-right: 30px;
}

.contact-icon,
.contact-icon:visited {
    text-decoration: none;
    color: black;
}

.contact-icon:hover {
    color: var(--light-grey);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #content {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    nav {
        max-width: 100%;
        flex-direction: column;
        text-align: center;

    }

    nav a {
        font-size: 1rem;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .exp-icons {
        display: flex;
        flex-wrap: wrap;
    }

    #email,
    #phone,
    #linkedin,
    #github {
        flex-basis: 100%;
    }

    #professsional-profile-image {
        display: flex;
        max-height: auto;
        max-width: 100%;
        width: 200px;
        height: auto;
    }

    .about-exp {
        font-size: 16px;
        max-height: auto;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.5rem;
    }

    .contact-div {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2,
    h5 {
        text-align: center;
        font-size: 30px;
    }

    .large-image {
        width: 40%
    }

    .small-image {
        width: 80%;
    }
}